<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [16]:
%%sql
with monthly_revenue as(
select
to_char(orderdate,'yyyy-mm') as month,
sum(quantity*netprice*exchangerate) as net_revenue
from sales
group by month
)
select *,
sum(net_revenue) over(rows between 0 preceding and current row),
sum(net_revenue) over(rows between 1 preceding and current row),
sum(net_revenue) over(rows between unbounded preceding and unbounded following),
sum(net_revenue) over(rows between 1 preceding and 1 following),
sum(net_revenue) over(rows between 0 preceding and 0 following)
from monthly_revenue
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

     month  net_revenue       sum        sum          sum        sum       sum
0  2015-01    384092.66 384092.66  384092.66 206407538.58 1090466.78 384092.66
1  2015-02    706374.12 706374.12 1090466.78 206407538.58 1423428.37 706374.12
2  2015-03    332961.59 332961.59 1039335.71 206407538.58 1200102.71 332961.59
3  2015-04    160767.00 160767.00  493728.59 206407538.58 1042361.22 160767.00
4  2015-05    548632.63 548632.63  709399.63 206407538.58 1457963.60 548632.63
5  2015-06    748563.97 748563.97 1297196.60 206407538.58 1932572.73 748563.97
6  2015-07    635376.13 635376.13 1383940.10 206407538.58 2102478.72 635376.13
7  2015-08    718538.62 718538.62 1353914.74 206407538.58 2050720.42 718538.62
8  2015-09    696805.68 696805.68 1415344.30 206407538.58 2240235.52 696805.68
9  2015-10    824891.22 824891.22 1521696.90 206407538.58 2212830.57 824891.22